:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #2d6cdf;
  --accent: #00c49a;
  --accent-hover: #00967a;
  --neutral: #7d8591;
  --neutral-hover: #6b7380;
  --confirm: #ff6b6b;
  --confirm-hover: #e25959;
  --text: #222;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
